
<FormSection Title="Memoria RAM">
    <EditForm Model="@memoryRam">
        @if (memoryRam.IdRam != Guid.Empty && !stockComponent)
        {
            <button type="button" class="btn btn-danger" @onclick="FunctionCallShowModal">Quitar</button>
        }
        @if (memoryRam.IdRam != Guid.Empty && stockComponent)
        {
            <button type="button" class="btn btn-danger" @onclick="callConfirmationModalDelete">Eliminar</button>
        }
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label">Tipo</label>
                <InputText class="form-control" @bind-Value="memoryRam.TypeRam" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Modelo</label>
                <InputText class="form-control" @bind-Value="memoryRam.Model" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label">Capacidad</label>
                <InputText class="form-control" @bind-Value="memoryRam.Size" />
            </div>
            <div class="col-md-4">
                <label class="form-label">Velocidad</label>
                <InputText class="form-control" @bind-Value="memoryRam.Speed " />
            </div>
        </div>




    </EditForm>
</FormSection>

@code {
    [Parameter]
    public MemoryRam memoryRam { get; set; }

    [Parameter]
    public Action confirmationModalChild { get; set; }

    [Parameter]
    public bool stockComponent { get; set; } = false;

    [Parameter]
    public Action confirmationModalDelete { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (memoryRam is null) memoryRam = new MemoryRam();
    }

    public void FunctionCallShowModal()
    {
        confirmationModalChild?.Invoke();
    }

    public void callConfirmationModalDelete()
    {
        confirmationModalDelete.Invoke();
    }
}
