
<FormSection Title="Fuente de Poder">
    <EditForm Model="@powerSupply">
        @if (powerSupply.IdPsu != Guid.Empty && !stockComponent)
        {
            <button type="button" class="btn btn-danger" @onclick="FunctionCallShowModal">Quitar</button>
        }
        @if (powerSupply.IdPsu != Guid.Empty && stockComponent)
        {
            <button type="button" class="btn btn-danger" @onclick="callConfirmationModalDelete">Eliminar</button>
        }
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label">Tipo</label>
                <InputText class="form-control" @bind-Value="powerSupply.Model" />
            </div>
        </div>
    </EditForm>
</FormSection>

@code {
    [Parameter]
    public PowerSupply powerSupply { get; set; }

    [Parameter]
    public Action confirmationModalChild { get; set; }

    [Parameter]
    public bool stockComponent { get; set; } = false;

    [Parameter]
    public Action confirmationModalDelete { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (powerSupply is null) powerSupply = new PowerSupply();
    }

    public void FunctionCallShowModal()
    {
        confirmationModalChild?.Invoke();

    }
    public void callConfirmationModalDelete()
    {
        confirmationModalDelete.Invoke();
    }
}
