@using Tescat.Services.Emails;
@inject IEmailService EmailService

<FormSection Title="Información de Contacto">
    <EditForm Model="@user">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="input1" class="form-label">Extension</label>
                <InputNumber class="form-control" @bind-Value="user.Tel"></InputNumber>
            </div>

            <div class="col-md-6">
                <label for="input2" class="form-label">Numero de celular</label>
                <InputNumber class="form-control" placeholder="(000)-000-00-00" @bind-Value="user.Cel"></InputNumber>
            </div>
        </div>


    </EditForm>
    @if (userEmails != null)
    {
        <EditForm EditContext
        ="@userEmailsContext">


            @if (!options["Correo 1"])
            {
                <button class="btn btn-secondary" @onclick="(e) => AddEmail(1)">Agregar Correo 1</button>
            }

            @if (!options["Correo 2"] && options["Correo 1"])
            {
                <button class="btn btn-secondary" @onclick="(e) => AddEmail(2)">Agregar Correo 2</button>
            }

            @if (!options["Correo 3"] && options["Correo 2"] && options["Correo 1"])
            {
                <button class="btn btn-secondary" @onclick="(e) => AddEmail(3)">Agregar Correo 3</button>
            }


            @if (selectedOptions.Contains("Correo 1") || !string.IsNullOrEmpty(userEmails.Email1))
            {
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Correo 1</label>
                        <InputText class="form-control" @bind-Value="userEmails.Email1"></InputText>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Contraseña</label>
                        <InputText class="form-control" @bind-Value="userEmails.Pass1"></InputText>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" @onclick="(e)=>DeleteEmail(1)">Eliminar</button>
                    </div>
                </div>
            }

            @if (selectedOptions.Contains("Correo 2") || !string.IsNullOrEmpty(userEmails.Email2))
            {
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Correo 2</label>
                        <InputText class="form-control" @bind-Value="userEmails.Email2"></InputText>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Contraseña</label>
                        <InputText class="form-control" @bind-Value="userEmails.Pass2"></InputText>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" @onclick="(e)=>DeleteEmail(2)">Eliminar</button>
                    </div>
                </div>
            }
            @if (selectedOptions.Contains("Correo 3") || !string.IsNullOrEmpty(userEmails.Email3))
            {
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Correo 3</label>
                        <InputText class="form-control" @bind-Value="userEmails.Email3"></InputText>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Contraseña</label>
                        <InputText class="form-control" @bind-Value="userEmails.Pass3"></InputText>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" @onclick="(e)=>DeleteEmail(3)">Eliminar</button>
                    </div>
                </div>
            }

        </EditForm>
    }

</FormSection>


@code {
    [Parameter]
    public User user { get; set; }
    [Parameter]
    public Email? userEmails { get; set; } = default!;
    [Parameter]
    public EditContext userEmailsContext {get;set;}


    public bool email1 = false;
    public bool email2 = false;
    public bool email3 = false;

    private Dictionary<string, bool> options = new Dictionary<string, bool>();

    private List<string> selectedOptions = new List<string>();


    protected override void OnInitialized()
    {
        if (userEmails != null)
        {
            email1 = !string.IsNullOrEmpty(userEmails.Email1);
            email2 = !string.IsNullOrEmpty(userEmails.Email2);
            email3 = !string.IsNullOrEmpty(userEmails.Email3);

            options.Add("Correo 1", email1);
            options.Add("Correo 2", email2);
            options.Add("Correo 3", email3);
        }
    }

    private void AddEmail(int opc)
    {
        bool canAdd = true;
        if (opc == 2 && string.IsNullOrEmpty(userEmails.Email1))
        {
            canAdd = false;
        }
        else if (opc == 3 && string.IsNullOrEmpty(userEmails.Email2))
        {
            canAdd = false;
        }
        if (canAdd)
        {
            switch (opc)
            {
                case 1:
                    selectedOptions.Add("Correo 1");
                    options["Correo 1"] = true;
                    break;
                case 2:
                    selectedOptions.Add("Correo 2");
                    options["Correo 2"] = true;
                    break;
                case 3:
                    selectedOptions.Add("Correo 3");
                    options["Correo 3"] = true;
                    break;

            }
        }
       
    }
   
    private void DeleteEmail(int account)
    {
        switch (account)
        {
            case 1:
                options["Correo 1"] = false; // Hacer que "portal" vuelva a estar disponible en el <select>.
                userEmails.Email1 = string.Empty; // Limpiar el valor en userCredential.
                userEmails.Pass1 = string.Empty;
                selectedOptions.Remove("Correo 1"); // Eliminar "portal" de las opciones seleccionadas.
                break;
            case 2:
                options["Correo 2"] = false;
                userEmails.Email2 = string.Empty;
                userEmails.Pass2 = string.Empty;
                selectedOptions.Remove("Correo 2");
                break;
            case 3:
                options["Correo 3"] = false;
                userEmails.Email3 = string.Empty;
                userEmails.Pass3 = string.Empty;
                selectedOptions.Remove("Correo 3");
                break;


        }
    }






}