.page[b-hpjfm17hcy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hpjfm17hcy] {
    flex: 1;
}

.sidebar[b-hpjfm17hcy] {
    background-image: linear-gradient(180deg, #ffffff 0%, #F6F6F6 70%);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.45);
}

.top-row[b-hpjfm17hcy] {
    /* background-color: #f7f7f7;*/
    /* border-bottom: 1px solid #d6d5d5;*/
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hpjfm17hcy]  a, .top-row .btn-link[b-hpjfm17hcy] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-hpjfm17hcy] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hpjfm17hcy] {
        display: none;
    }

    .top-row.auth[b-hpjfm17hcy] {
        justify-content: space-between;
    }

    .top-row a[b-hpjfm17hcy], .top-row .btn-link[b-hpjfm17hcy] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hpjfm17hcy] {
        flex-direction: row;
    }

    .sidebar[b-hpjfm17hcy] {
        width: 250px;
        height: calc(100vh - 2rem);
        position: sticky;
        top: calc(0px + 1rem);
        margin: 1rem;
    }



    .top-row[b-hpjfm17hcy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-hpjfm17hcy], article[b-hpjfm17hcy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
