.navbar-toggler[b-1v9w43v326] {
    background-color: rgba(255, 255, 255, 0.1);
}


.top-row[b-1v9w43v326] {
    height: 3.5rem;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient( to left, rgba(0,0,0,0), rgba(0,0,0,0.4), rgba(0,0,0,0)) left bottom rgba(0,0,0,0) no-repeat;
    background-size: 100% 1px;
}


.navbar-brand[b-1v9w43v326] {
    font-size: 1.1rem;
    color: var(--brand-text);
}

    .navbar-brand:hover[b-1v9w43v326] {
        color: var(--brand-text);
    }

    .oi[b-1v9w43v326] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-1v9w43v326] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}


.nav-link span[b-1v9w43v326] {
    font-size: 1.15rem;
}




.nav-item:first-of-type[b-1v9w43v326] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-1v9w43v326] {
    padding-bottom: 1rem;
}

.nav-item[b-1v9w43v326]  a {
    color: var(--brand-text);
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

    .nav-item[b-1v9w43v326]  a.active {
        background-color: rgba(36,93,130,0.25);
        font-weight: 600;
    }

    .nav-item[b-1v9w43v326]  a:hover {
        background-color: rgba(36,93,130,0.1);
        font-weight: 500;
    }

@media (min-width: 641px) {
    .navbar-toggler[b-1v9w43v326] {
        display: none;
    }

    .collapse[b-1v9w43v326] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-1v9w43v326] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
