@inherits LayoutComponentBase

<div style="position:absolute; right:0; margin-top: 3rem; margin-right: 8%;" class="@PageTransition">
    <UserHomePageControls></UserHomePageControls>
</div>


<LayoutView Layout="typeof(MainLayout)">
    <div style="margin-top:5rem">
        @Body
    </div>
</LayoutView>

@code {
    public string? PageTransition { get; set; }
    private bool firstRender = true;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Wait a little to ensure that the hidden-transition is applied
            await Task.Delay(255);

            PageTransition = "visible-transition";
            StateHasChanged();

        }
    }


    protected override void OnInitialized()
    {
        PageTransition = "hidden-transition";
        //NavigationManager.LocationChanged += HandleLocationChanged;
    }



}



