@page "/users"
@page "/users/{SearchTerm}"
@inject IUserService UserService
@inject OtherServices OtherServices
@inject TescatDbContext Context
@using System.Reflection;
@inject NavigationManager NavigationManager
@layout UserHomePageLayout




<div class="cards container">

    @if (Users != null && _searchResults != null)
    {
        <div class="container"><h5>Resultados Para: "@SearchTerm"</h5></div>
    }


    <div style="row-gap:4rem; justify-content:center; display:grid; grid-template-columns: 1fr 1fr 1fr">

        @if (Users == null)
        {
            <p>Loading users...</p>
        }
        else
        {
            @if (_searchResults == null)
            {
                @foreach (var user in Users)
                {
                    <UserCard User="user"></UserCard>
                }
            }
            else
            {


                @foreach (var user in _searchResults)
                {
                    <UserCard User="user"></UserCard>
                }
            }
        }
    </div>
</div>


@if (showAlert)
{
    <div class="overlay-alert">
        <div class="alert alert-success flex-reverse" role="alert">
            <button type="button" class="btn-close" @onclick="CloseAlert" aria-label="Close"></button>
            @localMessage
        </div>
    </div>
}



@code
{
    private List<User>? Users { get; set; }
    private User[]? _searchResults { get; set; }
    public string? localMessage;
    private bool showAlert = false;


    string? searchTermFromUserControls;


    [Parameter]
    public string
    SearchTerm
    { get; set; } = default!;



    protected override async
       Task OnInitializedAsync()
    {


        try
        {
            Users = await UserService.GetAllUsers();

            localMessage = OtherServices.Message;
            if (localMessage != null) await ShowAndHideAlert();

            UpdateSearchResults();

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Hubo un problema al cargar la informacion de los usuarios{ex.Message}");
        }
    }

    private void UpdateSearchResults()
    {
        if (SearchTerm != null)
        {
            var searchTermLower = SearchTerm.ToLower();
            var query = Context.Users
                .Where(x => x.Name.ToLower().Contains(searchTermLower));

            _searchResults = query.ToArray();
        }
        else
        {
            _searchResults = null;
        }
    }


    protected void CreateNewUser()
    {
        NavigationManager.NavigateTo("/addUser");
    }



    private void CloseAlert()
    {
        showAlert = false;
    }


    private async Task ShowAndHideAlert()
    {
        showAlert = true;
        StateHasChanged();

        await Task.Delay(5000);

        showAlert = false;
        StateHasChanged();
    }




    protected override void
     OnParametersSet()
     => UpdateSearchResults();

}
