.container {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
}

.searchbox {
    background-color: white;
    margin-bottom: 20px;
    padding: 0px 15px;
    font-size: 17px;
    border-radius: 0.5rem;
    border: 1px solid rgba(5, 21, 31, 0.25);
    display: flex;
    align-items: center;
    width: 15rem;
    transition: box-shadow 0.15s ease, border-color 0.15s ease;
   
}

    .searchbox:focus-within {
        border: 1px solid #1181CD;
        box-shadow: 0 0 0 2px #42AAF0;
    }


i.search-icon {
    font-size: 1.75rem;
    font-size: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 9px;
    color: var(--brand-text);
}

input {
    background-color: transparent;
    color: var(--brand-text);
    border: none;
    outline: none;
    height: 2.5rem;
    width: 100%;
}

