@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="controls-container">
  <UserHomePageControls ></UserHomePageControls>
</div>


<div style="transform: translateY(0);">
    @ChildContent
</div>




@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
}



