@page "/users"
@page "/users/{SearchTerm}"
@page "/users/{SearchTerm}/office/{UserOffice}/entrydate/{UserLength:int}"


@inject IUserService UserService
@inject OtherServices OtherServices
@inject TescatDbContext Context
@inject NavigationManager NavigationManager


<PageTitle>Usuarios - Tescat Software</PageTitle>

<UserHomePageLayout>


   
    <div class="cards container">


        @if (SearchTerm != null || UserOffice != null || UserLength != null)
        {
            <NavLink href="users" Match="NavLinkMatch.All">
                <i class="bi bi-arrow-left" style="font-size:2rem; margin-top:-1rem"></i>
            </NavLink>
        }
        else
        {
            <h1 style="padding-left: 1px; margin:3rem 0 1rem .25rem; font-size:2rem;">Lista de Usuarios</h1>
        }
        <div style="display: flex; margin-top:1rem; flex-direction:column;">
            @if (Users != null && SearchTerm != null)
            {




                <div style="height:2rem; display:flex; align-items:center; width:100%; margin-bottom:1.25%;">

                    <h4 style="margin-top: 1%;  margin-right: .25%">

                        <i class="material-symbols-outlined search-icon " style="font-size:1.6rem;">search</i>

                    </h4>

                    <i style="margin-left: 4px;">Resultados para:</i>
                    <i style="color: var(--brand); font-weight:500; font-size:1.25rem; margin-left: 4px; "> @SearchTerm</i>

                </div>


            }

            @if (UserOffice != null || UserLength != null)
            {



                <div style="height:2rem; display:flex; align-items:center; width:100%; ">
                    <h4 style="margin-top: 1%;  margin-right: .25%">

                        @*Icono Filtro*@
                        <i style="font-size:1.5rem; color:var(--brand-secondary); " class="bi bi-funnel"></i>

                    </h4>
                    @if (UserOffice != null)
                    {<i>Ciudad:</i> <i style="color: var(--brand); font-weight: 500; font-size: 1.25rem; margin-left: 4px; margin-right: 14px; "> @UserOffice</i>}




                    @if (UserLength != null)
                    {

                        @if (UserLength > 0)
                        {
                            <i style="margin-left: 4px;">Antiguedad mayor a:</i>
                        }
                        @if (UserLength < 0)
                        {
                            <i style="margin-left: 4px;">Antiguedad menor a:</i>
                        }




                        @if (UserLength > 1 || UserLength < -1)
                        {
                            <i style="color: var(--brand); font-weight:500; font-size:1.25rem; margin-left: 4px; "> @Math.Abs(UserLength ?? 0) años </i>
                        }
                        else
                        {
                            <i style="color: var(--brand); font-weight:500; font-size:1.25rem; margin-left: 4px; "> @Math.Abs(UserLength ?? 0) año </i>


                        }

                    }
                </div>





            }

        </div>

        <div style="row-gap: 4rem; justify-content: center; display: grid; grid-template-columns: 1fr 1fr 1fr; margin-top:2.5rem">

            @if (Users == null)
            {
                <p>Cargando Usuarios...</p>
            }
            else
            {

                @if (_searchResults == null)
                {
                    @foreach (var user in Users)
                    {

                        <UserCard User="user"></UserCard>

                    }
                }
                else
                {


                    @foreach (var user in _searchResults)
                    {

                        <UserCard User="user"></UserCard>

                    }
                }
            }
        </div>



    </div>

    @if (showAlert)
    {
        <div class="overlay-alert">
            <div class="alert alert-success flex-reverse" role="alert">
                <button type="button" class="btn-close" @onclick="CloseAlert" aria-label="Close"></button>
                @localMessage
            </div>
        </div>
    }


</UserHomePageLayout>




@code
{
    private List<User>? Users { get; set; }
    private User[]? _searchResults { get; set; }
    private User[]? _cachedSearchResults { get; set; } = Array.Empty<User>();
    public string? localMessage;
    private bool showAlert = false;

    
  

    [Parameter, SupplyParameterFromQuery]
    public string?
    UserOffice
    { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public int?
    UserLength
    { get; set; }




    [Parameter]
    public string
    SearchTerm
    { get; set; } = default!;




    protected override async
       Task OnInitializedAsync()
    {


        try
        {
            Users = await UserService.GetAllUsers();

            

            _cachedSearchResults = Users.ToArray();
            UpdateSearchResults();
            UpdateFilters();



        }
        catch (Exception ex)
        {
            Console.WriteLine($"Hubo un problema al cargar la informacion de los usuarios{ex.Message}");
        }


    }

    private void UpdateSearchResults()
    {

        if (!string.IsNullOrEmpty(SearchTerm)) //aqui solo se comprueba el valor de SearchTerm para actualizar
        {
            var searchTermLower = SearchTerm.ToLower();
            var query = Context.Users
                .Where
                (

                x =>

                x.Name.ToLower().Contains(searchTermLower) ||

                x.Dept.ToLower().Contains(searchTermLower) ||

                x.Tel.ToString().Contains(searchTermLower) ||

                x.Cel.ToLower().Contains(searchTermLower) ||

                x.Position.ToLower().Contains(searchTermLower)


                );

            _searchResults = query.ToArray();

        }
        else
        {
            _searchResults = null;
        }
    }


    private void UpdateFilters()
    {
        if (_searchResults == null)
        {
            _searchResults = _cachedSearchResults;
        }

        var filters = new List<Func<User, bool>>();

        if (!string.IsNullOrEmpty(UserOffice))
        {
            filters.Add(x =>
                x.Office?.Contains(UserOffice, StringComparison.CurrentCultureIgnoreCase) == true);
        }

        if (UserLength.HasValue)
        {
            var currentDate = DateTime.Now;

            if (UserLength.Value >= 0)
            {
                filters.Add(x =>
                    (currentDate - x.EntryDate)?.TotalDays / 365.25 > UserLength.Value);
            }
            else
            {
                filters.Add(x =>
            (currentDate - x.EntryDate)?.TotalDays / 365.25 < Math.Abs(UserLength.Value));
            }
        }

        if (filters.Any())
        {
            _searchResults = _searchResults?.Where(user => filters.All(filter => filter(user))).ToArray();
        }


        StateHasChanged();
    }

    /* */



    private void CloseAlert()
    {
        showAlert = false;
    }


    private async Task ShowAndHideAlert()
    {
        showAlert = true;
        StateHasChanged();

        await Task.Delay(5000);

        showAlert = false;
        StateHasChanged();
    }


    protected override void OnParametersSet()
    {
        UpdateSearchResults();
        UpdateFilters();

    }
    protected async override Task OnParametersSetAsync()
    {
        //return base.OnParametersSetAsync();
        localMessage = OtherServices.Message;
        if (localMessage != null) await ShowAndHideAlert();
    }


}
