.overlay-alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}



.cards.container {
    max-width: 100%;
    padding: 0 5%;
}

@media screen and (min-width: 2000px) {
    .cards.container {
        /*        background: green;*/
        /*        max-width: 1680px;*/
        padding: 0 10%;
    }
}
