<div class="searchbox">
    <i class="material-symbols-outlined search-icon">search</i>
    <input type="text" placeholder="" @onblur="HandleDivClick" @onfocus="HandleInputFocus">
</div>



@code {
    [Parameter] public EventCallback OnDivClicked { get; set; }
    [Parameter] public EventCallback<FocusEventArgs> OnInputFocus { get; set; }

    private async Task HandleDivClick()
    {
        await OnDivClicked.InvokeAsync(null);
    }

    private void HandleInputFocus(FocusEventArgs e)
    {
        OnInputFocus.InvokeAsync(e);
    }
}
