@inherits LayoutComponentBase
@*<div class="controls-container">
        <UserHomePageControls FilterMenuOpened="HandleUserSearch"></UserHomePageControls>
    </div>*@
<div class="controls-container">
    <UserHomePageControls></UserHomePageControls>
</div>



@*<div style="transform: translateY(@verticalContentPosition);">
        @ChildContent
    </div>*@
<div style="transform: translateY(0);">
    @ChildContent
</div>


@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;
    /*
    private string? verticalContentPosition;


    private void HandleUserSearch(string yValue)
    {
        verticalContentPosition = yValue;
    }*/
}



