.overlay-alert {
    position: fixed;
    top: .5rem;
    right: 20px;
    z-index: 10;
    width:25%;
}



.cards.container {
    max-width: 100%;
    padding: 0 5%;
}

@media screen and (min-width: 2000px) {
    .cards.container {
        padding: 0 10%;
    }
}
