<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="border p-4 rounded-3 searchbar mx-auto" style="max-width: 800px;">
                <h1 class="display-4 text-center" style="outline:none">Buscar Usuario</h1>
                <p class="lead text-center">Realiza tu búsqueda de usuarios</p>
                <p class="mt-4">
                    <input type="text" class="form-control form-control-lg" />
                </p>
            </div>
        </div>
    </div>
</div>


@code {

}
