@inherits LayoutComponentBase

<PageTitle>Tescat</PageTitle>

<div class="page">
   @* <div style="position:absolute">button</div>*@
    <div class="sidebar" @onmouseover="ActiveSideBarStylesApplied" @onmouseout="ActiveSideBarStylesReset">
        

        <NavMenu ActiveSideBarStyles="@ActiveSideBarStyles" />

    </div>

 @*   <MainHeader />*@

    <main class="container mt-5 mb-5">

        @Body

    </main>

</div>

@code {
    public string? ActiveSideBarStyles;

    public void ActiveSideBarStylesApplied()
    {
        ActiveSideBarStyles = "sidebar-active";
    }

    public void ActiveSideBarStylesReset()
    {
        ActiveSideBarStyles = "";
    }
}