@inherits LayoutComponentBase

<PageTitle>Tescat</PageTitle>

<div class="page">



    <div class="sidebar">
        <NavMenu />
        
    </div>
    <MainHeader />

    <main class="container mt-5 mb-5">
        
        @Body
    </main>
</div>
