<!-- Modal de confirmación -->
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="modal" tabindex="-1" style="display:@_modalStatus; background: rgb(0,0,0, 50%)" >
    <div class="modal-dialog">
        <div class="modal-content shadow-lg">
            <div class="modal-header">

                @if (_modalLocation == "DeleteUser")
                {
                <h5 class="modal-title">Confirmar eliminación</h5>
                }
                @if (_modalLocation == "UserHomePageLayout")
                {
                    <h5 class="modal-title"><i class="bi bi-person-fill-add" style="font-size:3rem"></i>
</h5>

                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" @onclick="CloseConfirmationModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (_modalLocation == "DeleteUser")
                {
                    <p>¿Estás seguro de que quieres eliminar este elemento?</p>
                }
                @if (_modalLocation == "UserHomePageLayout")
                {
                    <p>¿Necesita crear un nuevo usuario?</p>
                }

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="CloseConfirmationModal">Cancelar</button>

                <button type="button" class="btn btn-primary" @onclick="ConfirmDeleteButton">Confirmar</button>

            </div>
        </div>
    </div>
</div>

@code {
    string? _modalStatus;
    public string? _modalLocation { get; set; }

    [Parameter]
    public EventCallback<string>
       DeletingUser
    { get; set; }


    public void ShowConfirmationModal(string _currentModalLocation)
    {
        JSRuntime.InvokeVoidAsync("disableVerticalScroll");
        Console.WriteLine("metodo ShowConfirmationModal en MainModal: " + _currentModalLocation);

        _modalStatus = "block";
        _modalLocation = _currentModalLocation;

        StateHasChanged();
    }




    private void CloseConfirmationModal()
    {

        _modalStatus = "none";
        JSRuntime.InvokeVoidAsync("enableVerticalScroll");
        StateHasChanged();
    }


    public void ConfirmDeleteButton()

    {
        Console.WriteLine("esto es en mainmodal 1:" + _modalLocation);

        if (_modalLocation == 
        "DeleteUser")
        {
            _modalLocation = "UserDeleted";
            Console.WriteLine("esto es en mainmodal 2:"+_modalLocation);
            DeletingUser.InvokeAsync(_modalLocation);
            CloseConfirmationModal();
            //invocar evento para pasar dato hacia MainLayout y cambiar el dato de 
        }

        if (_modalLocation == "UserHomePageLayout")
        {
             NavigationManager.NavigateTo("/addUser");
            CloseConfirmationModal();
        }

        _modalStatus = "none";
        StateHasChanged();
    }




} 