.modal-content {
    border: none !important;
    border-radius: 6px !important;
}

.modal-content p {
    font-size:1.25rem;
    margin:0px;
}


.modal-footer {
    padding: 1rem;
}

 button.close {
    background: none;
    border:none;
    font-size:1.75rem;
}

body {
    background:red !important;
}