<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Tescat</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-people-fill me-3" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="devices">
                <span class="bi bi-pc-display me-3" aria-hidden="true"></span> Equipos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="store">
                <span class="bi bi-motherboard-fill me-3" aria-hidden="true"></span> Almacen Hardware
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
