

<FormSection Title="Almacenamiento">
    <EditForm Model="@storage">
        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Tipo</label>
                <InputText class="form-control" @bind-Value="storage.Type" />
            </div>

            <div class="col-md-3">
                <label class="form-label">Modelo</label>
                <InputText class="form-control" @bind-Value="storage.Model" />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Tiempo de Uso</label>
                <InputText class="form-control" @bind-Value="storage.UseTime" />
            </div>
            <div class="col-md-3">
                <label class="form-label">Numero de Lecturas</label>
                <InputNumber class="form-control" @bind-Value="storage.NumberRead" />
            </div>
            <div class="col-md-1">
                <label class="form-label">Total</label>
                <InputNumber class="form-control" @bind-Value="storage.TotalStrge" />
            </div>
            <div class="col-md-1">
                <label class="form-label">Usado</label>
                <InputNumber class="form-control" @bind-Value="storage.UsedStrge" />
            </div>
            <div class="col-md-1">
                <label class="form-label">Disponible</label>
                <InputNumber class="form-control" @bind-Value="storage.AvailableStrge" />
            </div>

        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <label class="form-label">Numero de escrituras</label>
                <InputNumber class="form-control" @bind-Value="storage.NumberWrite" />
            </div>
            <div class="col-md-3">
                <label class="form-label">Velocidad de escritura</label>
                <InputNumber class="form-control" @bind-Value="storage.WriteSpeed" />
            </div>
            <div class="col-md-3">
                <label class="form-label">Velocidad de lectura</label>
                <InputNumber class="form-control" @bind-Value="storage.ReadSpeed" />
            </div>
        </div>
    </EditForm>

</FormSection>

@code {
    [Parameter]
    public Storage storage { get; set; }

}
